@use "../utils" as u;

.card {
  width: u.rem(120);
  height: u.rem(159);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.38) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(u.rem(0) u.rem(4) u.rem(25) rgba(0, 0, 0, 0.48));
  backdrop-filter: blur(u.rem(20));
  border-radius: u.rem(10);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > :not(:last-child) {
    margin-bottom: u.rem(8);
  }

  img {
    height: 50%;
    width: 66%;
  }

  @include u.breakpoint(twoxLarge) {
    width: u.rem(100);
    height: u.rem(139);

    img {
      height: 38%;
      width: 54%;
    }
  }
  @include u.breakpoint(large) {
    width: u.rem(90);
    height: u.rem(100);
  }
}
