@use "../utils" as u;
@use "../globals/colors" as colors;

.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u.rem(30) 0;

    .logo {
      width: u.rem(206);
      cursor: pointer;
    }

    .right {
      display: flex;
      align-items: center;

      & > :not(:last-child) {
        margin-right: u.rem(50);
      }

      ul {
        display: flex;
        align-items: center;

        .navLink {
          position: relative;
          padding: 0 u.rem(20);
        }

        .navLink.active::before {
          content: "";
          position: absolute;
          top: 120%;
          left: 0;
          width: 100%;
          height: u.rem(3);
          background-color: colors.$red;
        }
      }

      aside {
        display: flex;
        align-items: center;

        & > :not(:last-child) {
          margin-right: u.rem(40);
        }

        .btn {
          border: 3px solid #ff1616;
          border-radius: u.rem(14);
          padding: u.rem(4) u.rem(30);
        }
      }
    }
  }
}
